*{
    margin: 0;
    padding: 0;
}
header{
    background:#74C69D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    padding-inline:8% ;
  
    
}

.logo{
    margin: 20px;
}
span{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size:25px;
    font-family:arial;
    

}
nav{
    background: #74C69D;
    display: flex;

}
.ul-nav{
    display: flex;
    width: 320px;
    justify-content: space-between;
    
}
ol{
   
    text-decoration: none;
    color: #fff;
    font-family: arial;
    transition: 0.5 ease-out;
  

    
}
ol:hover{
    border-bottom: 2px dashed #f2f2f5;


}

.bienvenido{
    background:#74C69D ;
    display: flex;
    padding-inline:8% ;
    align-items: center;
}

.welcome{
    text-align: center;
   text-align: justify;
   font-family: arial;
   color: #fff;

}
.welcome,h3,h1,p{
    margin: 30px;
}.h1{
    font-size: 30px;
    width: 300px;  
}
p{
    font-size: 25px;
}

.explore{
    width: 150px;
    height: 30px;
    margin: 30px;
    border: none;
    background: #fff;
}
.texto1{
    text-align: center;
}
.texto1,h1,h5,p1{
    margin: 20px;
   
}
.h5{
   color:  #74C69D;
}
img{
   margin: 20px;
}
.leermas{
width: 150px;
height: 30px;
margin: 30px;
border: none;
color: #fff;
background: #0c0c0c;
transition: 0.5s;}
.leermas:hover{

color: #0c0c0c;
background: #f2f2f5;
    border-bottom: 2px dashed #0e0e0e;
}


.texto2{
    padding: 7%;
    display: flex;
    align-items: center;
    text-align: justify;
    display: flex;
    align-items: center;
    text-align: justify;
  
}

.texto3{
    padding: 7%;
    display: flex;
    align-items: center;
    text-align: justify;

}
.contenido{
    padding: 8%;
    text-align: center;
}
h6{
    color: #74C69D;
    font-size: 20px;
}
.perfiles{
    display: flex;
   justify-content: center;
}
.perfil{
    margin: 15px;
    border: 1px solid #0c0c0c;
    width: 20%;
    box-shadow: 5px 5px 10px 5px black;
}
.piedepagina{
    display: flex;
    background: #74C69D;
}