
*{
    margin: 0;
    padding: 0;

}

header{
   
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 50px black ;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
     height: 40px;
     
}
nav,ul{
    position: relative;
    right: 100px;
}

   
ul{
    display: flex;
    list-style-type: none;
    border: none;
    
    

}
    
li{
   
   margin-inline: 20px;
    color: rgb(48, 133, 207);
    font-style: italic;
    transition: 0.5s ease-in-out;
    padding: 5px;
    border: none;
}
li:hover{
    color: aliceblue;
    background: rgb(48, 133, 207);
    padding: 5px;
    border-radius: 20px;
}

span{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(48, 133, 207);
    border: 1px solid rgb(48, 133, 207);
    border-radius: 50px;
    text-align: center;
    

}

.login{
    background: rgb(48, 133, 207);
    border: none;
    padding: 5px;
    border-radius: 10px;

}
.register{
    background: rgb(48, 133, 207);
    border: none;
    padding: 5px;
    border-radius: 10px;
   
   
}
.multimedia{
 
    padding: 150px;
    text-align: center;
   background:rgb(238, 230, 230) ;

}
h1{
    margin-top: 50px;
}