header{

    position: absolute;
    background: rgb(255, 255, 255);
    width: 1850px;
    height: 60px;
    box-shadow: 5px 5px 5px black ;
  


}
nav{
  
    display: inline-block;
  

}
ul{
    display: flex;
   background-color: aqua;


}
li {
  
  
  
  

   
   
}
    

